

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Work Sans",sans-serif;
}

html{
    font-size: 62.5%;
    /*1rem=10px*/
    overflow-x:hidden ;
}
body{
    background:black;
    overflow-x: hidden;
}

.header{
    padding: 0 4.8rem;
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(0, 0, 0);

}
.header .logo{
    padding-top: 6px;
    height:60px;
    width: 55px;
    position: relative;
    
    
}

.navbar-list{
    display: flex;
    gap:3rem;
    list-style: none;
}


.navbar-link:link,
.navbar-link:visited{
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
    color: rgb(236, 231, 231);
    transition: all 0.3s;
    font-family: 'Roboto', sans-serif;
}

.navbar-link:hover,
.navbar-link:active{
    color:rgb(72, 230, 72);
    text-decoration:underline;
}

.mobile-navbar-btn{
    display: none;
    background: transparent;
    cursor: pointer;
}


.mobile-navicon{
    width: 3rem;
    height: 3rem;
    color: white;

}

.mobile-navicon[name="close-outline"]{
    display: none;
}


/* responsive nav-bar */

@media(max-width:61.25rem){
    .mobile-navbar-btn{
        display: block;
        z-index: 999;
        border:2px solid;
        color: white;
    }

    .navbar{
        width: 100%;
        height: 100vh;
        background:rgb(79, 80, 82);
        position: absolute;
        top:0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateX(100%);
        transition: all 0.5s linear;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        
    }

    .navbar-list{
        flex-direction: column;
        align-items: center;
    }
    .active .navbar{
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
        pointer-events:auto;
    }
    .active .mobile-navbar-btn 
    .mobile-navicon[name="close-outline"]{
        display: block;
    }
    .active .mobile-navbar-btn 
    .mobile-navicon[name="menu-outline"]{
        display: none;
    }
    .navbar-link:hover{
        color:rgb(4, 7, 4);
        text-decoration:underline;
    }
    

}
@media(max-width:35rem)  {
    .header{
        padding:0 2.4rem;
    }
    
}
/* welcome page */

.container{
    display:inline-flex;
    flex-wrap:wrap;
    border:1px solid black;
    width: 100%;
    color: white;
    margin-top: 10rem;
  }
  .flex-direction{
    flex-direction:row;
  }
  .div1{
    border-right:1px solid black;
    background-color:black;
    width:75rem;
    height:50rem;
    float:left
  }
  
  .div2{
    background-color:black;
    width: 50rem;
    height:50rem;
    float: right;
    margin-left: 10rem;
    
    
   
  }
  .welcome{
    margin-top: 30px;
    margin-left: 50px;
    font-size: large;

}
.pace{

margin-left: 80px;
font-size: 18px;


}
  .welcome-text{
    margin-top: 20px;
    font-size: 15px;
    margin-left: 7rem;
    margin-top: 50px;
  }
  .pace-img{
    width: 450px;
    height: 450px;
    
    
  }
  
  
  
  @media screen and (max-width: 500px) {
    .flex-direction{
    flex-direction:column;
    }
  .div1{
    margin-top: 20px;
    width:100%;
    height:45rem;
    border-right:none;
    border-bottom:1px solid black;
    }
    .div2{
      width:100%;
      height:30rem;
      margin-top:100px;
      margin-left: 0;
    }
    
    
    .pace-img{
        width: 300px;
        height: 300px;
        }
  
  }
  
    
  @media screen and (min-width: 1435px) {
    .div2 {
     margin-left: 35rem;
    }
  }
 
/* BUTTON */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Lato&family=Nunito&family=Playfair+Display:ital@1&family=Prata&family=Raleway:ital,wght@1,100&family=Roboto&family=Roboto+Condensed&family=Teko&display=swap');
button{
    position: static;
   
}
.btn{
margin: 30px 55px;
font-family: Roboto, sans-serif;
font-weight: 100;
font-size: 16px;
color: #141313;
background-color: #d9e0da;
padding: 10px 15px;
border: solid #1b1d1f 2px;
box-shadow: rgba(131, 13, 204, 0.93) 1px 3px 0px 1px;
border-radius: 12px;
transition : 286ms;
transform : translateY(0);
align-items: center;
cursor: pointer;
}

.btn:hover{

transition : 286ms;
padding: 10px 24px;
transform : translateY(-7px);
background-color: #d7ecd4;
color: #0e1012;
border: solid 2px #1a1b1c;
}
/*  */